<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">golfville</h1>
    <p class="lead">Just for fun: Please don't sue me :)</p>
    <hr class="my-4">
    <p>Choose a brand:</p>    
    <ul class="nav nav-pills nav-fill">
      <li 
        class="nav-item"
        (click)="handleClick($event)"  
        *ngFor="let title of titles"
      >
        <a 
          class="nav-link" 
          routerLink="/{{title}}"
          [routerLinkActive]="['active']"          
        >
          {{title}}
        </a>
      </li>
    </ul>
  </div>
</div>
